<div class="cart__parent">
  <div class="cart__child">
    
    <div ng-if="" class="cart__with-items">
      <div class="cart__top">
        <h4 class="cart__header">Cart</h4>

        <div class="cart__top-right">
          <span class="cart__total">Total: <!-- Total Here --></span>
          <button class="cart__btn-checkout" ng-click="">checkout</button>
        </div>
      </div>

      <div class="cart__bottom">
        <!-- Swag Here -->
      </div>
    </div>

    <div ng-if="" class="cart__without-items">
      <span>Nothing in your cart</span>
    </div>

  </div>
</div>
  