.detailed__parent {
  width: 100%;
  height: auto;
  min-height: calc( 100vh - 65px );
  box-sizing: border-box;
  padding-top: 16px;
}

.detailed__child {
  margin: 0px 232px;
  background-color: #FFF;
  min-height: calc( 100vh - 65px + 16px );
  padding: 42px 120px;
}

.detailed__header {
  font-family: 'Alfa Slab One', cursive;
  font-size: 40px;
}

.detailed__content {
  margin-top: 32px;
  margin-left: 50px;
}

.detailed__content-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  margin-bottom: 16px;
}

.detailed__content-header h4 {
  margin: 0;
  display: inline;
  font-weight: bold;
}

.detailed__content-middle {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 16px;
}

.detailed__content-footer button {
  background-color: #009db8;
  padding: 16px;
  color: #FFF;
  border: none;
  font-size: 18px;
  font-family: 'Merriweather Sans', sans-serif;
}